body {
    background: white;
}
header {
    width: 100%;
    background: orange;
    color: white;
    height: 4rem;
}
h3 {
    background: orange;
    text-align: center;
    
}
#polls {
    color: white;
    padding-top: 2rem;
}
#title {
    float: left;
    margin-right: 2rem;
    width: 13rem;
}
.myoptions {
    float: left;
    margin: 18px;
    padding: 3px;
}
#signin {
    float: right;
    margin: 18px;
    padding: 3px;
    border: 1px solid white;
}
#login {
    float: right;
    margin: 18px;
    padding: 3px;
    
}
#banner {
    width: 100%;
    height: 20rem;
    text-align: center;
    background: #ffff30;
    color: orange;
    
}
#welcome {
    padding-top: 5rem;
}
#signinform {
    width: 20rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    padding-top: 1.5rem;
    color: orange;
    float: left;
}
input {
    width: 100%;
    margin-bottom: 15px;
}
#options {
    width: 15rem;
    margin: auto;
    margin-top: 1.5rem;
    display: flex;
    color: black;
}
.userOpts {
    background: lightgreen;
    width: 35%;
    margin: auto;
    font-weight: bold;
    margin-top: 1rem;
    padding: 3px;
}
main {
    width: 100%;
    color: grey;
}
ul {
   
    list-style-type: none;
    width: 30rem;
    float: left;
    
    padding-top: 1.3rem;
}
li {
    
    padding: 7px;
    padding-bottom: 14px;
    line-height: 2rem;
}
li:hover {
    text-decoration: underline;
    cursor: pointer;
}